.thumbnail-placeholder {
  background-color: #E4E4E4; // TODO: determine how to inherit variables from Cortex. This should be $color-grey-evenlighter
  display: flex;
  height: 50px;
  width: 50px;

  .h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}
