= render_field_id
= render_popup
= render_label
%br
%button.content_item_button.text-center.popup--open
  .button_content
    %i{ class: "material-icons icon" }
      cloud_upload
    %br
    %span.content_item_button-text
      Click to add a
      = field.name
      from the media library
%small
  Recommended size: 1452px x 530px with a live area of 930px x 530px
