= render_label
= render_tooltip unless @options[:tooltip].nil?
- @options[:metadata]['head'].each do |checkbox_key|
  = render_field_id
  = cell(Plugins::Core::CheckboxCell, nil, form: @options[:form], node_key: checkbox_key, tree_fields: @options[:metadata]['tree_fields'], data: data).(:checkbox)
