= render_label

%p
  Please select 1-2 Categories.

- @options[:metadata]["data"]["tree_array"].each do |node|
  = render_field_id
  = cell(Plugins::Core::CheckboxCell, nil, form: @options[:form], node: node, data: data).(:checkbox)
